:root {
  --main-color: #ff2625;
  --blue: #4f9e91;
  --white: #ebe1c5;
  --yellow: #ebcc6e;
  --light-orange: #ed834e;
  --light-orange-2: rgba(245, 181, 97, 0.704);
  --black: #3d3a2c;
}

body {
  font-family: "Josefin Sans";
  background-color: #fffafb;
  /* background-color: var(--white); */
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black);
}
::-webkit-scrollbar {
  width: 0px;
}

.hero-banner-img {
  position: absolute;
  right: 40px;
  top: 0px;
  width: 700px;
  height: 900px;
  margin-top: -260px;
  border-bottom-left-radius: 60px;
}

.exercise-card {
  /* width: 380px; */
  height: 445px;
  background: var(--white);
  border-top: 4px solid var(--light-orange);
  /* border-bottom-left-radius: 20px; */
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}


.bodyPart-card:hover {
  transform: scale(1.08, 1.08);
}

.search-btn:hover {
  color: var(--light-orange) !important;
  border: 1px solid var(--light-orange) !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

.active {
  border-bottom: 3px solid var(--light-orange);
}

@media screen and (max-width: 1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }

  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
}
